node_modules
data
summaries
*.log
*.hdt.index*
.nyc_output
coverage

# Ignore deployment configuration files
config.json

# Ignore dev environment files
.idea
.devcontainer

# Compiled output for packages already converted to TypeScript
packages/*/**/*.js
packages/*/**/*.js.map
packages/*/**/*.d.ts
!packages/*/test/**