<% inherits('base') %>
<h2>Data source <a href="/<%= datasourceName %>"><em class="datasource"><%= datasourceName %></em></a></h2>

<form action="?" method="GET">
  <fieldset>
    <legend>Triple pattern</legend>
    <ul>
<% ['subject', 'predicate', 'object'].forEach(function (component) { %>
      <li>
        <label for="<%= component %>"><%= component %>:</label>
        <input class="uri" id="<%= component %>" name="<%= component %>"
               value="<%= query[component] || '' %>" />
      </li>
<% }); %>
    </ul>
  </fieldset>
  <p>
    <input type="submit" value="Query" />
  </p>
</form>

<% queryResults -> results %>
<h3>Results for
  <em class="pattern">{
    <%= pattern.subject              ? '<' + pattern.subject   + '>' : '?s' %>
    <%= pattern.predicate            ? '<' + pattern.predicate + '>' : '?p' %>
    <%= N3Util.isUri(pattern.object) ? '<' + pattern.object    + '>' : (pattern.object || '?o') %>
  }</em>
</h3>
<dl>
  <dt class="count">Number of triples with this pattern</dt>
  <dd class="count"><%= results.count %></dd>
  <dt class="triples">Triples</dt>
  <dd class="triples">
    <ul>
<% results.triples.forEach(function (triple) { %>
      <li class="triple">
  <% ['subject', 'predicate', 'object'].forEach(function (component) {
    var value = triple[component],
        queryValue = /^"/.test(value) ? value : '<' + value + '>';
        short = value.match(/[^\/#]*$/) || value;
  %>
        <a href="?<%= component %>=<%= encodeURIComponent(queryValue) %>"><%
          %><abbr class="<%= component %>" title="<%= value %>"><%= short %></abbr><%
        %></a>
  <% }); %>
      </li>
<% }); %>
    </ul>
  </dd>
</dl>
<% <- %>
