/* ©2014 Ruben Verborgh - Multimedia Lab / iMinds / Ghent University */

html, input, textarea, button {
  -webkit-text-size-adjust: none;
}
* {
  outline: none !important;
}

a, button, label {
  font-weight: bold;
}
header a {
  color: inherit;
}
button {
  display: block;
  clear: both;
  margin: 0;
}
label {
  float: none;
  display: inline;
  width: auto;
}
label:after {
  content: ":";
}

fieldset {
  border: none;
  padding: 0;
}
.ldf-client, .ldf-client * {
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  margin: .5em 0;
  line-height: 1.4em !important;
}

.ui-combobox {
  float: right;
  min-width: 390px;
}

select {
  min-width: 390px;
}

.chosen {
  float: right;
  margin-bottom: -999999px;
}
.chosen-choices {
  max-height: 36px;
  transition: max-height .5s;
}

textarea {
  width: 100%;
  min-height: 11em;
  border: none;
  cursor: pointer;
  font-size: .95em;
  color: #1a5f76;
}
textarea:hover {
  color: #e77a0a;
}

pre {
  width: 100%;
  height: 25em;
  font-size: 9pt;
  overflow: scroll;
  margin: .5em -999999px 1em 0;
}
pre a {
  font-weight: normal;
}

.log {
  color: #666;
  height: 6.5em;
}

footer {
  font-size: .8em;
  margin-top: 2em;
}

@media (max-width: 725px) {
  body {
    padding: 1em;
    font-size: 10pt;
  }
  h1 {
    font-size: 1.4em;
  }
  .logo {
    margin: -1em -.5em 0 0;
  }
  header p {
    margin: 0 0 .5em;
  }
  .ui-combobox {
    float: none;
    display: block !important;
    min-width: 0;
    width: 260px;
    margin: .2em 0;
  }

  select {
    min-width: 260px;
  }
  .chosen {
    float: none;
    margin-bottom: 0;
  }

  pre {
    max-width: 90%;
  }
}

@media (max-width: 500px) {
  .logo {
    display: none;
  }
}



/*
 * Styling below derived from
 * Chosen, a Select Box Enhancer for jQuery and Prototype
 * by Patrick Filler for Harvest, http://getharvest.com
 *
 * Version 1.4.2
 * Full source at https://github.com/harvesthq/chosen
 * Copyright (c) 2011-2015 Harvest http://getharvest.com
 *
 * MIT License, https://github.com/harvesthq/chosen/blob/master/LICENSE.md
*/

.chosen {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.chosen * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.chosen .chosen-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;
  border: 1px solid #999999;
  border-top: 0;
  background: #fff;
}
.chosen.chosen-with-drop .chosen-drop {
  left: 0;
}
.chosen a {
  cursor: pointer;
}


.chosen-single .chosen-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 25px;
  border: 1px solid #999999;
  border-radius: 3px;
  background-color: #fff;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;
  font-weight: normal;
  color: inherit;
}
.chosen-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chosen-single .chosen-single-with-deselect span {
  margin-right: 38px;
}
.chosen-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  font-size: 1px;
}
.chosen-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}
.chosen-single .chosen-single div {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 18px;
  height: 100%;
}
.chosen-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
}
.chosen-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}
.chosen-single .chosen-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #999999;
  font-size: 1em;
  line-height: normal;
  border-radius: 0;
}
.chosen-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}
.chosen-single.chosen-single-nosearch .chosen-search {
  position: absolute;
  left: -9999px;
}

.chosen-results {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;
}
.chosen-results li {
  display: none;
  margin: 0;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
}
li.active-result {
  display: list-item;
  cursor: pointer;
}
li.highlighted {
  background-color: #e77a0a;
  color: #fff;
}
li.no-results {
  display: none;
}
.chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

.chosen-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #999999;
  border-radius: 3px;
  background-color: #fff;
  cursor: text;
}
.chosen-choices li {
  float: left;
  list-style: none;
}
li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 20px;
  outline: 0;
  border: 0 !important;
  font-size: 100%;
  line-height: normal;
  border-radius: 0;
}
li.search-choice {
  position: relative;
  margin: 2px 5px 2px 0;
  padding: 3px 20px 3px 5px;
  max-width: 100%;
  border-radius: 3px;
  background-color: #f6f6f6;
  line-height: 13px;
  cursor: default;
}
li.search-choice span {
  word-wrap: break-word;
}
.chosen-results {
  margin: 0;
  padding: 0;
}
.chosen-drop .result-selected {
  display: list-item;
  cursor: default;
}

.chosen-active.chosen-with-drop .chosen-single {
  border: 1px solid #999999;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.chosen-active.chosen-with-drop .chosen-single div {
  border-left: none;
}
.chosen-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}
.chosen-active .chosen-choices {
  max-height: 500px;
}
